<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <title>Facilities</title>
</head>
<body>
<main>
    <h1>Заведения</h1>
    <div id="facilities">
        <form id="facility_form" action="" method="post">
            {%for facility in facilities%}
            <div class="db_el">
                <input class="long" type="text" name="{{facility.id}}:name" placeholder="Имя" value="{{facility.name}}">
                <input class="long" type="text" name="{{facility.id}}:address" placeholder="Адрес"
                       value="{{facility.address}}">
                <input class="" type="text" name="{{facility.id}}:tg_id" placeholder="ID чата"
                       value="{{facility.tg_id}}">
                <span class="cb_span">
                <input class="right norm" type="checkbox" id="{{facility.id}}:delete" name="{{facility.id}}:delete">
                <label class="right norm" for="{{facility.id}}:delete">Удалить</label>
                </span>

            </div>
            {%endfor%}
            <div id="new_el_div">

            </div>

            <p class="warning">
                {% with message = get_flashed_messages() %}
                {% if message%}
                {{message[0]}}
                {% endif %}
                {% endwith %}
            </p>

            <input class="micro_btn right" type="submit" value="Сохранить">
        </form>
        <button class="micro_btn" id="new_el_button">Новое заведение</button>
        <div class="template">
            <input class="long" type="text" name="NEW:name" placeholder="Название">
            <input class="long" type="text" name="NEW:address" placeholder="Адрес">
            <input class="" type="text" name="NEW:tg_id" placeholder="ID чата">
        </div>
    </div>
</main>

<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        <a href="{{url_for('index')}}">Заказы</a>
        <a href="{{url_for('vendors_page')}}">Поставщики</a>
        <a href="{{url_for('facilities_page')}}">Заведения</a>
        <a href="{{url_for('users_page')}}">Пользователи</a>
        <a href="{{url_for('products_page')}}">Товары</a>
        <a href="{{url_for('units_page')}}">Единицы измерения</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Оповещения</a>
        <a href="{{url_for('order_format')}}">Формат заказа</a>
        <a href="{{url_for('login')}}">Сменить аккаунт</a>
    </div>
</nav>

</body>
</html>
