<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <title>Notifications</title>
</head>
<body>
<main>
    <h1>Оповещения админу</h1>
    <div class="db_el">
        <form method="post">
            <label for="tg_id">ID чата</label>
            <input type="text" id="tg_id" name="tg_id" value="{{noti.tg_id}}" placeholder="ID чата">
            <input type="checkbox" id="send" name="send" {%if noti.send%} checked {%endif%}>
            <label for="send">Отправлять оповещения</label>
            <br>
            <input class="micro_btn right" type="submit" value="Сохранить">
        </form>
    </div>
</main>

<nav>
    <button class="nav_button"></button>
    <br>
    <div>
        <a href="{{url_for('index')}}">Заказы</a><br>
        <a href="{{url_for('vendors_page')}}">Поставщики</a><br>
        <a href="{{url_for('facilities_page')}}">Заведения</a><br>
        <a href="{{url_for('users_page')}}">Пользователи</a><br>
        <a href="{{url_for('products_page')}}">Товары</a><br>
        <a href="{{url_for('units_page')}}">Единицы измерения</a><br>
        <a href="{{url_for('stats_page')}}">Статистика</a><br>
        <a href="{{url_for('noti_page')}}">Оповещения</a><br>
        <a href="{{url_for('order_format')}}">Формат заказа</a><br>
        <a href="{{url_for('login')}}">Сменить аккаунт</a><br>
    </div>
</nav>

</body>
</html>