<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>

    <title>Order format</title>
</head>
<body>
<main>
    <h1>Формат заказа для отправки поставщику</h1>
    <p class=desc>
        Заказ будет отформатирован в соотвествии с этой формой. <br>
        Служебные поля, обернутые в двойные фигурные скобки будут заменены на соответствующие значения из БД.<br>
        Фигурные скобки с символом процента - цикл, выполняющий перебор всех товаров в заказе.<br>
        Описание некоторых служебных полей:<br>
        order.id - ID заказа<br>
        order.facility.name - название заведения для которого предназначен заказ<br>
        order.facility.address - адрес заведения<br>
        product.product.name - имя товара<br>
        product.amount - количество товара<br>
        product.product.unit.designation - условное обозначения единицы измерения<br>
        Менять с осторожностью.<br>

    </p>
    <div class=db_el>

        <form action="" method="post">
            <p>
            <textarea name="msg">{{ msg }}</textarea>
            </p>
            <input class="micro_btn" type="submit" name="default" value="Сбросить до значения по умолчанию">
            <input class="micro_btn right" type="submit" name="confirm" value="Сохранить">
        </form>

    </div>
</main>

<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        <a href="{{url_for('index')}}">Заказы</a>
        <a href="{{url_for('vendors_page')}}">Поставщики</a>
        <a href="{{url_for('facilities_page')}}">Заведения</a>
        <a href="{{url_for('users_page')}}">Пользователи</a>
        <a href="{{url_for('products_page')}}">Товары</a>
        <a href="{{url_for('units_page')}}">Единицы измерения</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Оповещения</a>
        <a href="{{url_for('order_format')}}">Формат заказа</a>
        <a href="{{url_for('login')}}">Сменить аккаунт</a>
    </div>
</nav>


</body>
</html>