<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='orders.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <title>Orders</title>
</head>
<body>
<main>

    <div class="orders_cat">
        <h1>Создать заказ</h1>
        <div class="db_el paddles">
            <form id="new_order_form" action="" method="post">
                <div class="order_header">
                    Новый заказ для
                    <select id="new_order_facility" name="order:facility_id" {%if not user.is_admin%}disabled{%endif%}
                            onchange="get_available_products(this)">
                        <option value="placeholder">Выбрать заведение</option>
                        {%for facility in facilities%}
                        {%if user.facility.name == facility.name%}
                        <option selected value="{{facility.id}}">{{facility.name}}</option>
                        {%else%}
                        <option value="{{facility.id}}">{{facility.name}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                    {%if not user.is_admin%}
                    <input type="text" class="hidden" name="order:facility_id" value="{{user.facility_id}}">
                    {%endif%}
                </div>
                <div id="new_order_placeholder">

                </div>
                {%if user.is_admin%}
                <input class="micro_btn right" type="submit" name="order:new" value="Подтвердить">
                {%else%}
                <input class="micro_btn right" type="submit" name="order:new" value="Отправить на рассмотрение">
                {%endif%}
            </form>
        </div>
    </div>
    <br>


    <div class="orders_cat">
        <h1>Новые заказы и дозаказы</h1>
        {%if user.is_admin %}
        <h3>Сортировать по заведениям:
                <select onchange="selectFacility(this)">
                    <option value=0>Все заведения</option>
                    {%for facility in facilities%}
                    {%if facility.id == facility_id%}
                    <option selected value="{{facility.id}}">{{facility.name}}</option>
                    {%else%}
                    <option value="{{facility.id}}">{{facility.name}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
        </h3>
        {%endif%}

        {%for order in orders%}
        {%if (order.facility_id == facility_id) or facility_id==0%}
        <div class="db_el paddles">
            <form action="" method="post">
                <input type="text" class="hidden" name="order:facility_id" value="{{order.facility_id}}">
                <div class="order_header">
                    Заказ #{{order.id}} для {{order.facility.name}}

                    <span class="right">
                        {% if order.status == "NEW" %} Новый {% endif %}
                        {% if order.status == "ADDITIONAL" %} Дозаказ {% endif %}
                        {% if order.status == "ORDERED" %} Заказан {% endif %}
                    </span>
                </div>
                <div class="products">
                {%for product in order.products%}
                {%if product.amount %}
                <input type="text" hidden name="{{product.id}}:vendor_id" value="{{product.vendor_id}}"
                       placeholder="Поставщик">
                <input class=" col1" type="text" disabled name="{{product.id}}:vendor_id"
                       value="{{product.vendor.name}}"
                       placeholder="Поставщик">

                <input class=" col2" type="text" disabled value="{{product.product.name}}" placeholder="Товар">

                <input class=" col3" type="text" name="{{product.id}}:amount" value="{{product.amount}}"
                       placeholder="Количество"
                       onchange="checkAmount(this)">

                <input class=" col4" type="text" disabled value="{{product.product.unit.designation if product.product.unit else ''}}"
                       placeholder="Ед">
                <br>
                {%else%}
                <input type="text" hidden name="{{product.id}}:vendor_id" value="{{product.vendor_id}}"
                       placeholder="Поставщик">
                <input class="col1 pid{{product.id}} space" hidden type="text" disabled name="{{product.id}}:vendor_id"
                       value="{{product.vendor.name}}"
                       placeholder="Поставщик">

                <input class="col2 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.name}}" placeholder="Товар">

                <input class="col3 pid{{product.id}} space" hidden type="text" name="{{product.id}}:amount" value="{{product.amount}}"
                       placeholder="Количество"
                       onchange="checkAmount(this)">

                <input class="col4 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.unit.designation if product.product.unit else ''}}"
                       placeholder="Ед">
                {%endif%}
                {%endfor%}
                </div>
                <select onchange="addProduct(this)">
                    <option value="placeholder">Добавить товар</option>
                {%for product in order.products%}
                {%if not product.amount %}
                    <option value="pid{{product.id}}">{{product.vendor.name}} - {{product.product.name}}</option>
                {%endif%}
                {%endfor%}
                </select>
                <br>
                {%if user.is_admin%}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Удалить">
                <input class="micro_btn right" type="submit" name="order:{{order.id}}" value="Подтвердить">
                {%else%}
                {%if order.status != "ORDERED" %}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Удалить">
                {%endif%}
                <input class="micro_btn right" type="submit" name="order:{{order.id}}"
                       value="Изменить">
                {%endif%}

            </form>
        </div>
        {%endif%}
        {%endfor%}
    </div>
    <br>


    <div class="orders_cat">
        <h1>Уже заказано</h1>
        {%for order in old_orders%}
        {%if (order.facility_id == facility_id) or facility_id==0%}
        <div class="db_el paddles">
<form action="" method="post">
                <input type="text" class="hidden" name="order:facility_id" value="{{order.facility_id}}">
                <div class="order_header">
                    Заказ #{{order.id}} для {{order.facility.name}}

                    <span class="right">
                        {% if order.status == "NEW" %} Новый {% endif %}
                        {% if order.status == "ADDITIONAL" %} Дозаказ {% endif %}
                        {% if order.status == "ORDERED" %} Заказан {% endif %}
                    </span>
                </div>
                <div class="products">
                {%for product in order.products%}

                {%if product.amount %}
                    <input type="text" hidden name="{{product.id}}:vendor_id" value="{{product.vendor_id}}"
                           placeholder="Поставщик">
                    <input class=" col1" type="text" disabled name="{{product.id}}:vendor_id"
                           value="{{product.vendor.name}}"
                           placeholder="Поставщик">
                    <input class=" col2" type="text" disabled value="{{product.product.name}}" placeholder="Товар">
                    <input class=" col3" type="text" name="{{product.id}}:amount" value="{{product.amount}}"
                           placeholder="Количество"
                           onchange="checkAmount(this)">
                    <input class=" col4" type="text" disabled value="{{product.product.unit.designation if product.product.unit else ''}}"
                           placeholder="Ед">
                    <br>
                {%else%}
                    <input type="text" hidden name="{{product.id}}:vendor_id" value="{{product.vendor_id}}"
                           placeholder="Поставщик">
                    <input class="col1 pid{{product.id}} space" hidden type="text" disabled name="{{product.id}}:vendor_id"
                           value="{{product.vendor.name}}"
                           placeholder="Поставщик">
                    <input class="col2 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.name}}" placeholder="Товар">
                    <input class="col3 pid{{product.id}} space" hidden type="text" name="{{product.id}}:amount" value="{{product.amount}}"
                           placeholder="Количество"
                           onchange="checkAmount(this)">
                    <input class="col4 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.unit.designation if product.product.unit else ''}}"
                           placeholder="Ед">
                    <br class="pid{{product.id}}" hidden>
                {%endif%}

                {%endfor%}
                </div>
                <select onchange="addProduct(this)">
                    <option value="placeholder">Добавить товар</option>
                {%for product in order.products%}
                {%if not product.amount %}
                    <option value="pid{{product.id}}">{{product.vendor.name}} - {{product.product.name}}</option>
                {%endif%}
                {%endfor%}
                </select>
                <br>

                {%if user.is_admin%}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Удалить">
                <input class="micro_btn right" type="submit" name="order:{{order.id}}" value="Подтвердить">
                {%else%}
                {%if order.status != "ORDERED" %}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Удалить">
                {%endif%}
                <input class="micro_btn right" type="submit" name="order:{{order.id}}"
                       value="Изменить">
                {%endif%}

            </form>
        </div>
        {%endif%}
        {%endfor%}
    </div>





</main>


<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        {%if user.is_admin%}
        <a href="{{url_for('index')}}">Заказы</a>
        <a href="{{url_for('vendors_page')}}">Поставщики</a>
        <a href="{{url_for('facilities_page')}}">Заведения</a>
        <a href="{{url_for('users_page')}}">Пользователи</a>
        <a href="{{url_for('products_page')}}">Товары</a>
        <a href="{{url_for('units_page')}}">Единицы измерения</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Оповещения</a>
        <a href="{{url_for('order_format')}}">Формат заказа</a>
        {%endif%}
        <a href="{{url_for('login')}}">Сменить аккаунт</a>
    </div>
</nav>


</body>
</html>

<style>
    @media(min-width:1000px){
        .col4{width:{{col4*9}}px!important;}
    .col3{width:{{col3*9}}px!important;}
    .col2{width:{{col2*8}}px!important;}
    .col1{width:{{col1*9}}px!important;}
    }
    @media(max-width:999.98px){
        .col4{width:{{col4*16}}px!important;}
    .col3{width:{{col3*24}}px!important;}
    .col2{width:{{col2*8}}px!important;}
    .col1{width:{{col1*12}}px!important;}
    }
</style>
