<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <title>Import</title>
</head>
<body>

<main>
    <h1>{%if error%} {{error}} {%else%} Импорт {%endif%}</h1>
    Импортировано: {{l}}
    {% if not_found %}
    <div>
    <h3>Уже существуют:</h3>
        {% for el in already_exist %}
        {{el}} <br>
        {% endfor %}
    </div>
    {% endif %}
    {% if not_found %}
    <div>
    <h3>Нет соответсвий:</h3>
        {% for el in not_found %}
        {{el}} <br>
        {% endfor %}
    </div>
    {% endif %}

    <a class = "micro_btn" href="{{url_for('products_page')}}">Назад</a>
</main>

</body>
</html>