<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <title>Stats</title>
</head>
<body>
<main>
    <h1>Статистика товаров</h1>
    <div class="db_el paddles">
        <div class="order_header">
            <form method="post">
                <input type="submit" value="Изменить порядок сортировки">
            </form>
        </div>
        <p class="stat">
            {%for product in products%}
            {{product.name}} - заказов: {{product.orders_count}}, общее количество: {{product.orders_amount}}
            {{product.unit.designation}}<br>
            {%endfor%}
        </p>
    </div>
</main>

<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        <a href="{{url_for('index')}}">Заказы</a>
        <a href="{{url_for('vendors_page')}}">Поставщики</a>
        <a href="{{url_for('facilities_page')}}">Заведения</a>
        <a href="{{url_for('users_page')}}">Пользователи</a>
        <a href="{{url_for('products_page')}}">Товары</a>
        <a href="{{url_for('units_page')}}">Единицы измерения</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Оповещения</a>
        <a href="{{url_for('order_format')}}">Формат заказа</a>
        <a href="{{url_for('login')}}">Сменить аккаунт</a>
    </div>
</nav>

</body>
</html>