body{
	margin: 0;
	padding: 0;
}

html{
	margin: 0;
	padding: 0;
}

main{
	width: 1000px;
	margin:auto;
}


.white_box{
	width:600px;
	height: 60px;
	border-radius: 10px;
	border:none;
	padding: 10px;
	background-color: rgba(240,226,223,0.7);
	outline: none;
	margin:20px;
	font-size: 24px;
	box-sizing:border-box;
	text-align:center;
	transition: 0.2s;
}

.btn:hover{
	width:620px;
	margin-left:10px;
	margin-right:10px;
}

#auth_form{
	width: 640px;
	margin: 300px auto auto;
}

.warning{
	text-align: center;
}