<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <title>Units</title>
</head>
<body>
<main>
    <h1>Од. виміру</h1>
    <div id="units">
        <form id="user_form" action="" method="post">
            {%for unit in units%}
            <div class="db_el">
                <input class="long" type="text" name="{{unit.id}}:name" placeholder="Назва" value="{{unit.name}}">
                <input type="text" name="{{unit.id}}:designation" placeholder="Одиниці"
                       value="{{unit.designation}}">

                <span class="cb_span">
                <input class="right norm" type="checkbox" id="{{unit.id}}:delete" name="{{unit.id}}:delete">
                <label class="right norm" for="{{unit.id}}:delete">Видалити</label>
                </span>
            </div>

            {%endfor%}
            <div id="new_el_div">

            </div>

            <p class="warning">
                {% with message = get_flashed_messages() %}
                {% if message%}
                {{message[0]}}
                {% endif %}
                {% endwith %}
            </p>

            <input class="micro_btn right" type="submit" value="Зберегти">
        </form>
        <button class="micro_btn" id="new_el_button">Нова одиниця виміру</button>
        <div class="template">
            <input class="long" type="text" name="NEW:name" placeholder="Назва">
            <input type="text" name="NEW:designation" placeholder="Одиниця">
        </div>
    </div>
</main>

<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        <a href="{{url_for('index')}}">Замовлення</a>
        <a href="{{url_for('vendors_page')}}">Постачальники</a>
        <a href="{{url_for('facilities_page')}}">Заклади</a>
        <a href="{{url_for('users_page')}}">Користувачі</a>
        <a href="{{url_for('products_page')}}">Товари</a>
        <a href="{{url_for('units_page')}}">Одиниці виміру</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Сповіщення</a>
        <a href="{{url_for('order_format')}}">Формат замовлення</a>
        <a href="{{url_for('login')}}">Змінити аккаунт</a>
    </div>
</nav>

</body>
</html>
