<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <title>Units</title>
</head>
<body>
<main>
    <h1>Единицы измерения</h1>
    <div id="units">
        <form id="user_form" action="" method="post">
            {%for unit in units%}
            <div class="db_el">
                <input class="long" type="text" name="{{unit.id}}:name" placeholder="Название" value="{{unit.name}}">
                <input type="text" name="{{unit.id}}:designation" placeholder="Единицы"
                       value="{{unit.designation}}">
                <input class="right norm" type="checkbox" id="delete" name="{{unit.id}}:delete">
                <label class="right norm" for="delete">Удалить</label>
            </div>

            {%endfor%}
            <div id="new_el_div">

            </div>

            <p class="warning">
                {% with message = get_flashed_messages() %}
                {% if message%}
                {{message[0]}}
                {% endif %}
                {% endwith %}
            </p>

            <input class="micro_btn right" type="submit" value="Сохранить">
        </form>
        <button class="micro_btn" id="new_el_button">Новая единица измерения</button>
        <div class="template">
            <input class="long" type="text" name="NEW:name" placeholder="Название">
            <input type="text" name="NEW:designation" placeholder="Единицы">
        </div>
    </div>
</main>

<nav>
    <button class="nav_button"></button>
    <br>
    <div>
        <a href="{{url_for('index')}}">Заказы</a><br>
        <a href="{{url_for('vendors_page')}}">Поставщики</a><br>
        <a href="{{url_for('facilities_page')}}">Заведения</a><br>
        <a href="{{url_for('users_page')}}">Пользователи</a><br>
        <a href="{{url_for('products_page')}}">Товары</a><br>
        <a href="{{url_for('units_page')}}">Единицы измерения</a><br>
        <a href="{{url_for('stats_page')}}">Статистика</a><br>
        <a href="{{url_for('noti_page')}}">Оповещения</a><br>
        <a href="{{url_for('order_format')}}">Формат заказа</a><br>
        <a href="{{url_for('login')}}">Сменить аккаунт</a><br>
    </div>
</nav>

</body>
</html>