<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <script src="{{url_for('static', filename='vendors.js')}}"></script>
    <title>Users</title>
</head>
<body>
<main>
    <h1>Пользователи</h1>
    <div id="users">
        <form id="users_form" action="" method="post">
            {%for user in users%}
            <div class="db_el">
                <input type="text" name="{{user.id}}:name" placeholder="Имя" value="{{user.name}}">
                <input type="text" name="{{user.id}}:surname" placeholder="Фамилия" value="{{user.surname}}">
                <input type="text" name="{{user.id}}:position" placeholder="Должность"
                       value="{{user.position}}">
                <button type="button" class="fell_btn" onclick="fell(this)">Заведения</button>
                <div class="fell_div fell_hidden">
                    {%for facility in facilities%}
                    {%if facility in user.facilities%}
                    <input type="checkbox" id="{{user.id}}:facility_id" checked name="{{user.id}}:fid_{{facility.id}}">
                    {%else%}
                    <input type="checkbox" id="{{user.id}}:facility_id" name="{{user.id}}:fid_{{facility.id}}">
                    {%endif%}
                    <label for="{{user.id}}:facility_id">{{facility.name}}</label><br>
                    {%endfor%}
                </div>
                <input type="text" name="{{user.id}}:code" placeholder="ПИН-код" value="{{user.code}}">
                <span class="cb_span">
                {%if user.is_admin%}

                <input type="checkbox" id="{{user.id}}:is_admin" name="{{user.id}}:is_admin" checked>
                {%else%}
                <input type="checkbox" id="{{user.id}}:is_admin" name="{{user.id}}:is_admin">
                {%endif%}
                <label for="{{user.id}}:is_admin">Админ</label>
                </span>
                <span class="cb_span">
                <input type="checkbox" id="{{user.id}}:delete" name="{{user.id}}:delete">
                <label for="{{user.id}}:delete">Удалить</label>
                     </span>

            </div>


            {%endfor%}
            <div id="new_el_div">

            </div>
            <p class="warning">
                {% with message = get_flashed_messages() %}
                {% if message%}
                {{message[0]}}
                {% endif %}
                {% endwith %}
            </p>

            <input class="micro_btn right" type="submit" value="Сохранить">
        </form>
        <button class="micro_btn" id="new_el_button">Новый пользователь</button>
        <div class="template">
            <input type="text" name="NEW:name" placeholder="Имя">
            <input type="text" name="NEW:surname" placeholder="Фамилия">
            <input type="text" name="NEW:position" placeholder="Должность">
            <button type="button" class="fell_btn" onclick="fell(this)">Заведения</button>
                <div class="fell_div fell_hidden">
                    {%for facility in facilities%}
                    <input type="checkbox" name="NEW:fid_{{facility.id}}">
                    <label>{{facility.name}}</label><br>
                    {%endfor%}
                </div>
            <input type="text" name="NEW:code" placeholder="ПИН-код">
            <span class="cb_span">
            <input type="checkbox" id="is_admin" name="NEW:is_admin">
            <label>Админ</label>
            </span>
        </div>


    </div>
</main>

<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        <a href="{{url_for('index')}}">Заказы</a>
        <a href="{{url_for('vendors_page')}}">Поставщики</a>
        <a href="{{url_for('facilities_page')}}">Заведения</a>
        <a href="{{url_for('users_page')}}">Пользователи</a>
        <a href="{{url_for('products_page')}}">Товары</a>
        <a href="{{url_for('units_page')}}">Единицы измерения</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Оповещения</a>
        <a href="{{url_for('order_format')}}">Формат заказа</a>
        <a href="{{url_for('login')}}">Сменить аккаунт</a>
    </div>
</nav>

</body>
</html>