<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>

    <title>Формат замовлення</title>
</head>
<body>
<main>
    <h1>Формат замовлення для відправки постачальнику</h1>
    <p class=desc>
        Замовлення буде відформатовано по цій формі <br>
        Службові поля, обгорнуті в подвійні фігурні скобки будуть замінені на значення з БД<br>
        Фігурні скобки з символом відсотку - цикл, який перебирає всі товари в замовленні<br>
        Опис службових полів:<br>
        order.id - ID замовлення<br>
        order.facility.name - назва закладу для якого виконується замовлення<br>
        order.facility.address - адреса закладу<br>
        product.product.name - назва товару<br>
        product.amount - к-сть товару<br>
        product.unit.designation - умовне позначення од. виміру<br>
        Змінювати з обережністю<br>

    </p>
    <div class=db_el>

        <form action="" method="post">
            <p>
            <textarea name="msg">{{ msg }}</textarea>
            </p>
            <input class="micro_btn" type="submit" name="default" value="Скинути">
            <input class="micro_btn right" type="submit" name="confirm" value="Зберегти">
        </form>

    </div>
</main>

<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        <a href="{{url_for('index')}}">Замовлення</a>
        <a href="{{url_for('vendors_page')}}">Постачальники</a>
        <a href="{{url_for('facilities_page')}}">Заклади</a>
        <a href="{{url_for('users_page')}}">Користувачі</a>
        <a href="{{url_for('products_page')}}">Товари</a>
        <a href="{{url_for('units_page')}}">Од. виміру</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Сповіщення</a>
        <a href="{{url_for('order_format')}}">Формат замовлення</a>
        <a href="{{url_for('login')}}">Змінити аккаунт</a>
    </div>
</nav>


</body>
</html>
