<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='new_el_button.js')}}"></script>
    <script src="{{url_for('static', filename='orders.js')}}"></script>
    <script src="{{url_for('static', filename='antidpr.js')}}"></script>
    <title>Orders</title>
</head>
<body>
<main>

    <div class="orders_cat">
        <h1>Створити замовлення</h1>
        <div class="db_el paddles">
            <form id="new_order_form" action="" method="post">
                <div class="order_header">
                    Нове замовлення для
                    <select id="new_order_facility" name="order:facility_id"
                            onchange="get_available_products(this)">
                        <option value="placeholder">Вибрати заклад</option>
                        {%for facility in facilities%}
                        {%if facility in user.facilities or user.is_admin %}
                        <option value="{{facility.id}}">{{facility.name}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                </div>
                <button type="button" class="summary" onclick="toggleDetails(this)">Показати товари</button>
                <div hidden class = "details">

                    <div id="new_order_placeholder">

                    </div>
                </div>
                {%if user.is_admin%}
                <input class="micro_btn right" type="submit" name="order:new" value="Підтвердити">
                {%else%}
                <input class="micro_btn right" type="submit" name="order:new" value="Відправити на розгляд заявку">
                {%endif%}
            </form>
        </div>
    </div>
    <br>


    <div class="orders_cat">
        <h1>Нові замовлення і дозамовлення</h1>
        <h3>Сортувати по закладам:
                <select onchange="selectFacility(this)">
                    <option value=0>Всі заклади</option>
                    {%for facility in user.facilities%}
                    {%if facility.id == facility_id%}
                    <option selected value="{{facility.id}}">{{facility.name}}</option>
                    {%else%}
                    <option value="{{facility.id}}">{{facility.name}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
        </h3>

        {%for order in orders%}
        {%if (order.facility_id == facility_id) or facility_id==0%}
        <div class="db_el paddles">
            <form action="" method="post">
                <input type="text" class="hidden" name="order:facility_id" value="{{order.facility_id}}">
                <div class="order_header">
                    Замовлення #{{order.id}} для {{order.facility.name}}
                    <span class="right">
                        {% if order.status == "NEW" %} Новий {% endif %}
                        {% if order.status == "ADDITIONAL" %} Дозамовлення {% endif %}
                        {% if order.status == "ORDERED" %} Замовлено {% endif %}
                    </span>
                    <br>
                    Автор: {{order.user.name}} {{order.user.surname}}, остання зміна {{order.create_date.strftime('%d.%m %H:%M')}}
                    {% if order.sent_date %}
                    <span class="right">
                        Відправлено {{order.sent_date.strftime('%d.%m %H:%M')}}
                    </span>
                    {% endif %}

                </div>
                <button type="button" class="summary" onclick="toggleDetails(this)">Показати товари</button>
                <div hidden class = "details">
                    <div class="products">
                {%for product in order.products%}
                {%if product.amount %}
                <select class="col1" name="{{product.id}}:vendor_id">
                    <option selected value="{{product.vendor_id}}">{{product.vendor.name}}</option>
                    {% for vendor in product.product.vendors %}
                    {% if vendor.id != product.vendor_id %}
                        <option value ="{{vendor.id}}">{{vendor.name}} </option>
                    {% endif %}
                    {% endfor %}
                </select>

                <input class=" col2" type="text" disabled value="{{product.product.name}}" placeholder="Товар">

                <input class=" col3" type="number" step="any" name="{{product.id}}:amount" value="{{product.amount}}"
                       placeholder="Кількість"
                       onchange="checkAmount(this)">

                <select class="col4"  name = "{{product.id}}:unit_id">
                    <option selected value="{{product.unit_id}}">{{product.unit.designation}}</option>
                    {% for unit in units%}
                    {% if unit.id != product.unit_id %}
                    <option value="{{unit.id}}">{{unit.designation}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="checkbox" {% if not product.product.alco%} hidden {% endif %} {% if product.official %} checked {% endif %} name = "{{product.id}}:official">
                <label {% if not product.product.alco%} hidden {% endif %} > Офіц.</label>
                <br>
                {%else%}
                <select hidden class="col1 pid{{product.id}} space" name="{{product.id}}:vendor_id">
                    <option selected value="{{product.vendor_id}}">{{product.vendor.name}}</option>
                    {% for vendor in product.product.vendors %}
                    {% if vendor.id != product.vendor_id %}
                        <option value ="{{vendor.id}}">{{vendor.name}} </option>
                    {% endif %}
                    {% endfor %}
                </select>

                <input class="col2 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.name}}" placeholder="Товар">

                <input class="col3 pid{{product.id}} space" hidden type="number" step="any" name="{{product.id}}:amount" value="{{product.amount}}"
                       placeholder="Кількість"
                       onchange="checkAmount(this)">

                <select class="col4 pid{{product.id}} space" hidden  name = "{{product.id}}:unit_id">
                    <option selected value="{{product.unit_id}}">{{product.unit.designation}}</option>
                    {% for unit in units%}
                    {% if unit.id != product.unit_id %}
                    <option value="{{unit.id}}">{{unit.designation}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <input hidden {% if product.product.alco%} class = "pid{{product.id}}" {% endif %} type="checkbox" name = "{{product.id}}:official" {%if product.official %} checked {% endif %}>
                <label hidden {% if product.product.alco%} class = "pid{{product.id}}" {% endif %} > Офіц.</label>

                {%endif%}
                {%endfor%}
                </div>
                </div>
                <input class="live_search" type="text" value="" placeholder="Добавити товар" autocomplete="off"
                        onkeyup="live_search({{order.id}}, this, event)"><br>
                <div class="advice_wrapper"></div>
                <br>
                {%if user.is_admin%}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Видалити">
                <input class="micro_btn right" type="submit" name="order:{{order.id}}" value="Підтвердити">
                {%else%}
                {%if order.status != "ORDERED" %}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Видалити">
                {%endif%}
                <input class="micro_btn right" type="submit" name="order:{{order.id}}"
                       value="Змінити">
                {%endif%}

            </form>
        </div>
        {%endif%}
        {%endfor%}
    </div>
    <br>


    <div class="orders_cat">
        <h1>Уже замовлено</h1>
        {%for order in old_orders%}
        {%if (order.facility_id == facility_id) or facility_id==0%}
        <div class="db_el paddles">
<form action="" method="post">
                <input type="text" class="hidden" name="order:facility_id" value="{{order.facility_id}}">
                <div class="order_header">
                    Замовлення #{{order.id}} для {{order.facility.name}}

                    <span class="right">
                        {% if order.status == "NEW" %} Новий {% endif %}
                        {% if order.status == "ADDITIONAL" %} Дозамовлення {% endif %}
                        {% if order.status == "ORDERED" %} Замовлено {% endif %}
                    </span>
                    <br>
                    Автор: {{order.user.name}} {{order.user.surname}}, остання зміна {{order.create_date.strftime('%d.%m %H:%M')}}
                    {% if order.sent_date %}
                    <span class="right">
                        Відправлено {{order.sent_date.strftime('%d.%m %H:%M')}}
                    </span>
                    {% endif %}


                </div>
                <button type="button" class="summary" onclick="toggleDetails(this)">Показати товари</button>
                <div hidden class = "details">
                    <div class="products">
                {%for product in order.products%}

                {%if product.amount %}
                    <select class="col1" name="{{product.id}}:vendor_id">
                    <option selected value="{{product.vendor_id}}">{{product.vendor.name}}</option>
                    {% for vendor in product.product.vendors %}
                    {% if vendor.id != product.vendor_id %}
                        <option value ="{{vendor.id}}">{{vendor.name}} </option>
                    {% endif %}
                    {% endfor %}
                </select>
                    <input class=" col2" type="text" disabled value="{{product.product.name}}" placeholder="Товар">
                    <input class=" col3" type="number" step="any" name="{{product.id}}:amount" value="{{product.amount}}"
                           placeholder="Кількість"
                           onchange="checkAmount(this)">
                    <select class="col4"  name = "{{product.id}}:unit_id">
                        <option selected value="{{product.unit_id}}">{{product.unit.designation}}</option>
                        {% for unit in units%}
                        {% if unit.id != product.unit_id %}
                        <option value="{{unit.id}}">{{unit.designation}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                        <input type="checkbox" name = "{{product.id}}:official" {% if not product.product.alco%} hidden {% endif %} {%if product.official %} checked {% endif %}>
                        <label {% if not product.product.alco%} hidden {% endif %} > Офіц.</label>

                    <br>

                {%else%}
                    <select hidden class="col1 pid{{product.id}} space" name="{{product.id}}:vendor_id">
                    <option selected value="{{product.vendor_id}}">{{product.vendor.name}}</option>
                    {% for vendor in product.product.vendors %}
                    {% if vendor.id != product.vendor_id %}
                        <option value ="{{vendor.id}}">{{vendor.name}} </option>
                    {% endif %}
                    {% endfor %}


                </select>
                    <input class="col2 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.name}}" placeholder="Товар">
                    <input class="col3 pid{{product.id}} space" hidden type="number" step="any" name="{{product.id}}:amount" value="{{product.amount}}"
                           placeholder="Кількість"
                           onchange="checkAmount(this)">
                    <select class="col4 pid{{product.id}} space" hidden name = "{{product.id}}:unit_id">
                        <option selected value="{{product.unit_id}}">{{product.unit.designation}}</option>
                        {% for unit in units%}
                        {% if unit.id != product.unit_id %}
                        <option value="{{unit.id}}">{{unit.designation}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <input hidden {% if product.product.alco%} class = "pid{{product.id}}" {% endif %} type="checkbox" name = "{{product.id}}:official" {%if product.official %} checked {% endif %}>
                    <label hidden {% if product.product.alco%} class = "pid{{product.id}}" {% endif %} > Офіц.</label>


                {%endif%}

                {%endfor%}
                </div>
                </div>
                <input class="live_search" type="text" value="" placeholder="Добавити товар" autocomplete="off"
                        onkeyup="live_search({{order.id}}, this, event)"><br>
                <div class="advice_wrapper"></div>
                <br>

                {%if user.is_admin%}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Видалити">
                <input class="micro_btn right" type="submit" name="order:{{order.id}}" value="Підтвердити">
                {%else%}
                {%if order.status != "ORDERED" %}
                <input class="micro_btn" type="submit" name="order:{{order.id}}" value="Видалити">
                {%endif%}
                <input class="micro_btn right" type="submit" name="order:{{order.id}}"
                       value="Змінити">
                {%endif%}

            </form>
        </div>
        {%endif%}
        {%endfor%}
    </div>
    <br>

    <div class="orders_cat">
        <h1>Видалені замовлення</h1>
        {%for order in deleted_orders%}
        {%if (order.facility_id == facility_id) or facility_id==0%}
        <div class="db_el paddles">
<form action="" method="post">
                <input type="text" class="hidden" name="order:facility_id" value="{{order.facility_id}}">
                <div class="order_header">
                    Замовлення #{{order.id}} для {{order.facility.name}}

                    <span class="right">
                        {% if order.status == "NEW" %} Новий {% endif %}
                        {% if order.status == "ADDITIONAL" %} Дозамовлення {% endif %}
                        {% if order.status == "ORDERED" %} Замовлено {% endif %}
                    </span>

                    <br>
                    Автор: {{order.user.name}} {{order.user.surname}}, остання зміна {{order.create_date.strftime('%d.%m %H:%M')}}
                    {% if order.status != "NEW" %}
                    <span class="right">
                        Удален {{order.delete_date.strftime('%d.%m %H:%M')}}
                    </span>
                    {% endif %}

                </div>
                <button  type="button" class="summary" onclick="toggleDetails(this)">Показати товари</button>
                <div hidden class = "details">
                    <div class="products">
                {%for product in order.products%}

                {%if product.amount %}
                    <input type="text" hidden name="{{product.id}}:vendor_id" value="{{product.vendor_id}}"
                           placeholder="Постачальник">
                    <input class=" col1" type="text" disabled name="{{product.id}}:vendor_id"
                           value="{{product.vendor.name}}"
                           placeholder="Постачальник">
                    <input class=" col2" type="text" disabled value="{{product.product.name}}" placeholder="Товар">
                    <input class=" col3" type="number" step="any" disabled name="{{product.id}}:amount" value="{{product.amount}}"
                           placeholder="Кількість"
                           onchange="checkAmount(this)">
                    <input class=" col4" type="text" disabled value="{{product.unit.designation if product.unit else ''}}"
                           placeholder="Од. виміру">
                    <br>
                {%else%}
                    <input type="text" hidden name="{{product.id}}:vendor_id" value="{{product.vendor_id}}"
                           placeholder="Постачальник">
                    <input class="col1 pid{{product.id}} space" hidden type="text" disabled name="{{product.id}}:vendor_id"
                           value="{{product.vendor.name}}"
                           placeholder="Постачальник">
                    <input class="col2 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.name}}" placeholder="Товар">
                    <input class="col3 pid{{product.id}} space" hidden type="number" step="any" disabled name="{{product.id}}:amount" value="{{product.amount}}"
                           placeholder="Кількість"
                           onchange="checkAmount(this)">
                    <input class="col4 pid{{product.id}} space" hidden type="text" disabled value="{{product.product.unit.designation if product.product.unit else ''}}"
                           placeholder="Од. виміру">
                    <br class="pid{{product.id}}" hidden>
                {%endif%}

                {%endfor%}
                </div>
                </div>
                    <br>

                <input class = "micro_btn" type ="submit" name ="order:{{order.id}}" value="Відновити">

            </form>
        </div>
        {%endif%}
        {%endfor%}
    </div>



</main>


<nav>
    <button class="nav_button hiden_nav_button"></button>
    <div class="hidden_nav_div">
        {%if user.is_admin%}
        <a href="{{url_for('index')}}">Замовлення</a>
        <a href="{{url_for('vendors_page')}}">Постачальники</a>
        <a href="{{url_for('facilities_page')}}">Заклади</a>
        <a href="{{url_for('users_page')}}">Користувачі</a>
        <a href="{{url_for('products_page')}}">Товари</a>
        <a href="{{url_for('units_page')}}">Од. виміру</a>
        <a href="{{url_for('stats_page')}}">Статистика</a>
        <a href="{{url_for('noti_page')}}">Сповіщення</a>
        <a href="{{url_for('order_format')}}">Формат замовлення</a>
        {%endif%}
        <a href="{{url_for('login')}}">Змінити аккаунт</a>
    </div>
</nav>


</body>
</html>

<style>
    @media(min-width:1000px){
        .col4{width:{{col4*9}}px!important;}
    .col3{width:{{col3*9}}px!important;}
    .col2{width:{{col2*8}}px!important;}
    .col1{width:{{col1*9}}px!important;}
    }
    @media(max-width:999.98px){
        .col4{width:{{col4*16}}px!important;}
    .col3{width:{{col3*24}}px!important;}
    .col2{width:{{col2*8}}px!important;}
    .col1{width:{{col1*12}}px!important;}
    }
</style>
